{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="container">
    <div class="collection-header">
        <h2>Welcome To BYF Crochet Collections</h2>
    </div>

    <div class="collection-body">
        <p>Collection stores will be open soon! We will provide the best offers for our customers!</p>

        <h3>Coming Soon!</h3>
    </div>
</div>

<!-- footer -->
<footer id="main-footer">
    <div class="container footer-container">
        <div class="footer-social list">
            <h4>JOIN OUR COMMUNITY</h4>
            <p>You can become a part of our community. Check it out!</p><br>
            <a href="https://instagram.com/tilleycrochet21?igshid=OTk0YzhjMDVlZA==" target="_blank"> <i class="fab fa-instagram fa-2x"></i></a>
            <a href="https://www.youtube.com/@BYFcrochet" target="_blank"> <i class="fab fa-youtube fa-2x"></i></a>
            <a href="https://www.facebook.com/profile.php?id=100090926940412&mibextid=avESrC" target="_blank"> <i class="fab fa-facebook fa-2x"></i></a>
            <a href="https://www.tiktok.com/@astreria21?_r=1&_d=e48gm78d4i628f&sec_uid=MS4wLjABAAAAsJ70hK7HxcniR9PN9k1bxJRdah7lcqNG8EMxot6oUXn52Ly0mHWBeQO1oHdNgCVi&share_author_id=7071268593233265670&sharer_language=en&source=h5_m&u_code=e0fb6b5ig7bgkm" target="_blank"> <i class="fa-brands fa-tiktok fa-2x"></i></a>
        </div>
    
        <div class="list">
            <h4>RESOURCES</h4>
            <li><a href="{% url 'basic_app:glossary' %}">GLOSSARY</a></li><br>
            <li><a href="{% url 'basic_app:privacy' %}">PRIVACY POLICY</a></li><br>
            <li><a href="{% url 'basic_app:about' %}">ABOUT US</a></li><br>
            <li><a href="{% url 'basic_app:conditions' %}">TERMS & CONDITIONS</a></li>                   
        </div>
    
        <div class="list">
            <h4>CONTACT US</h4>
            <p>+234 9046727539</p>
        </div>
        
    </div>
    <div class="copyright">
        <p>copyright &copy; 2023 BYF Crochet</p>
    </div>
</footer>


{% endblock %}